<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://irentcronjob20171221055152.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>irentcronjob20171221055152.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iRentCronJob20171221055152</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$iRentCronJob20171221055152</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyiRentEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="iRentCronJob.Models.MyiRentEntities, iRentCronJob" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="iRentEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=vps.myirent.com;Initial Catalog=myirentc_rent;User ID=gperazzo;Password=iRent4Now!" Name="server=vps.myirent.com;user id=gperazzo;password=iRent4Now!;database=myirentc_rent" />
          <Object Type="DbDacFx">
            <PreSource Path="server=vps.myirent.com;user id=gperazzo;password=iRent4Now!;database=myirentc_rent" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\iRentEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.iRentModel.csdl|res://*/Models.iRentModel.ssdl|res://*/Models.iRentModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vps.myirent.com;user id=gperazzo;password=iRent4Now!;database=myirentc_rent&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)iRentEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.iRentModel.csdl|res://*/Models.iRentModel.ssdl|res://*/Models.iRentModel.msl;provider=MySql.Data.MySqlClient;provider connection string="server=vps.myirent.com;user id=gperazzo;password=iRent4Now!;database=myirentc_rent"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyiRentEntities-Web.config Connection String" />
  </ItemGroup>
</Project>